.container{
  position: relative;
  display: inline-block;
  padding-right: 1rem;
}

span{
  background:black;
  color: white;
  width:25px;
  height:25px;
  display: flex;
  position: absolute;
  right:0;
  top:0;
  justify-content: center;
  align-items: center;
  font-size:1rem;
  border-radius: 50%;
}

.info{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: black;
  color: white;
  z-index: 10;
}

.d-none{
  display: none;
}