:host{
    display: block;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    color: var(--secondary-color);
}

form{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

form div{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    padding: 0.3rem;
    color: var(--primary-color);
}

form button,
form button:active{
    border: 0;
    outline: none;
    margin-top: 1rem;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}
